<?xml version="1.0" encoding="UTF-8"?>
<plugin version="1.0.0" provider-name="marc mceachern" id="contentner" name="Add contentner fields to Index">
 
   <runtime>
     <library name="contentner.jar">
       <export name="*"/>
     </library>
   </runtime>
 
   <extension point="org.apache.nutch.indexer.IndexingFilter" id="org.apache.nutch.indexer.contentner" name="Add contentner fields to Index">
     <implementation id="contentner" class="org.apache.nutch.indexer.contentner.ContentNER"/>
   </extension>
</plugin>
