<?xml version="1.0" encoding="UTF-8"?>
<plugin version="1.0.0" provider-name="marc mceachern" id="youtubeccreader" name="download youtube cc data, apply NER and index">
 
   <runtime>
     <library name="youtubeccreader.jar">
       <export name="*"/>
     </library>
   </runtime>
 
   <extension point="org.apache.nutch.indexer.IndexingFilter" id="org.apache.nutch.indexer.youtubeccreader" name="download youtube cc data, apply NER and index">
     <implementation id="youtubeccreader" class="org.apache.nutch.indexer.youtubeccreader.YoutubeCCReader"/>
   </extension>
</plugin>
